* { /* CSS reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Barlow', sans-serif;
  color: #4D4D4D;
  text-align: center;
  background-color: white;
}
.profile-card {
  background-color: #7F6C72;
}
.headline{
  margin-left: 30%;
  margin-right: 30%;
}
.content{
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5%;
  border-left: 4px solid #7F6C72;
}
.about .interests{
  width: 90%;
  margin-left: 10%;
  padding: 2%;
}
.social-icon {
  color: #7F6C72;
  padding: 1.5%;
}
#picture {
  width: 12vmax;
  box-shadow: 10px 10px 5px #4D4D4D;
  float: left;
  margin-left: 15%;
  margin-top: 8vmax;
  transform: rotate(-10deg);
  filter: blur(3px) grayscale(100%);
}
#picture:hover{
  transition: all 0.5s ease-in-out;
  transform: scale(1.8);
  filter: blur(0px) grayscale(10%);
}
#hello{
  margin-top: 15%;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}
#sign{
  width: 12vmax;
  height: auto;
  margin-left: 50%;
}
hr{
  border-top: 4px solid #4D4D4D;
  border-bottom: #7F6C72;
  border-left: #7F6C72;
  border-right: #7F6C72;
  width: 80%;
  margin-left: 10%;
}
summary{
  background: #7F6C72;
  border-radius: 10px;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.5vmax;
  font-style: italic;
  margin-left: -2%;
  margin-right: 70%;
}
ul {
  list-style-type: none;
}
li {
  font-size: 1.5vmax;
  color: #4D4D4D;
  padding: .5%;
  text-align: left;
  text-indent: 30px;
}
h1{
  text-transform: ;
  font-size: 3.5vmax;
  color: white;
}
h2{
  font-size: 2.5vmax;
  color: #CB98A8;
}
h3{
  font-size: 1vmax;
  padding: 1vmax;
  color: #CB98A8;
}
p{
  font-size: 1.5vmax;
  color: #4D4D4D;
  padding: 2%;
  text-align: left;
  text-indent: 30px;
}
caption{
  font-size: 1vmax;
  padding-bottom: 2%;
  color: #CB98A8;
  text-align: center;
}
span{
  font-size: 1vmax;
  color: #4D4D4D;
  text-align: center;
}
table{
  width: 20%;
  border-collapse: collapse;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 5%;
  font-size: 1.5vmax;
}
footer{

}
