* { /* CSS reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
html,body {
  font-family: 'Barlow', sans-serif;
  color: #4D4D4D;
  text-align: center;
  background-color: white;
  background-size: cover;
}
.head{
  background-color: #7F6C72;
}
.welcome {
  background-color: #7F6C72;
  padding-top: 5%;
  padding-bottom: 2%;
}
.content{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  margin-top: 2%;
}
.about .interests{
  padding: 2%;
}
.social-icon {
  color: #7F6C72;
  padding: 1.5%;
  cursor: pointer;
}
#picture {
  max-width: 6.5vmax;
  box-shadow: 10px 10px 5px #4D4D4D;
  transform: rotate(0deg);
  filter: blur(2px) grayscale(100%);
  margin-bottom: 1%;
  margin-top: 1%;
}
#picture:hover{
  transition: all 0.5s ease-in-out;
  transform: scale(2.2);
  filter: blur(0px) grayscale(10%);
}
#sign{
  width: 12vmax;
  height: auto;
  margin-left: 50%;
}
hr{
  border-top: 2px solid #4D4D4D;
  border-bottom: #7F6C72;
  border-left: #7F6C72;
  border-right: #7F6C72;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
summary{
  background: #7F6C72;
  border-radius: 12px;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.5vmax;
  font-style: italic;
  margin-left: 36%;
  margin-right: 36%;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
li {
  font-size: 1.5vmax;
  color: #4D4D4D;
  padding: .5%;
  text-align: left;
  text-indent: 30px;
}
h1{
  font-size: 3vmax;
  color: white;
}
h2{
  font-size: 2vmax;
  color: #CB98A8;
}
h3{
  font-size: 1.2vmax;
  color: white;
}
p{
  font-size: 1.5vmax;
  color: #4D4D4D;
  padding: 2%;
  text-align: left;
  text-indent: 30px;
}
caption{
  font-size: 1vmax;
  padding-bottom: 2%;
  color: #CB98A8;
  text-align: center;
}
span{
  font-size: 1vmax;
  color: #4D4D4D;
  text-align: center;
}
table{
  width: 20%;
  border-collapse: collapse;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  font-size: 1.3vmax;
}
footer{

}
